.nav-btn {
  background-color: #12082b;
  color: white;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 85vh;

  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 320px) {
  .video-background {
    min-height: 54vh;
  }
}
@media screen and (min-width: 425px) {
  .video-background {
    min-height: 57vh;
  }
}
@media screen and (min-width: 768px) {
  .video-background {
    min-height: 68vh;
  }
}
@media screen and (min-width: 1024px) {
  .video-background {
    min-height: 85vh;
  }
}

.caption {
  position: absolute;
  top: 30%;
  width: 100%;
  color: white;
  padding: 1rem;
}

.caption p {
  font-size: 1.2rem;
}

/*--- Fixed Video Background iOS/Mobile Style--*/
.video-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#video {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1000;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  width: 100% !important;
}

.fas .far {
  color: #090416;
}

.img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box::before {
  width: 40%;
  height: 40%;
  padding-bottom: 40%;
  background-color: #efe9fb;
  z-index: -2;
}
.img-box::after {
  width: 30%;
  padding-bottom: 30%;
  background-color: #ded4f7;

  z-index: -1;
}
.img-box::before,
.img-box::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section-header {
  position: relative;
  display: inline-block;
}

.section-header span::before {
  content: '';
  width: 100%;
  height: 10px;
  background: #cebef3;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #fff;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid #fff;
  background-image: none;
} */

/* .carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #0e2c4a;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #0e2c4a;
} */

.carousel-control-next-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/271/271228.png);
}
.carousel-control-prev-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/271/271220.png);
}

.carousel-caption h5,
.carousel-caption p {
  color: black;
}

.fa-check {
  color: #090416;
}

.form-group {
  width: 100%;
  margin-top: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type='submit'] {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Montserrat';
  background-color: #1b0b41;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type='submit']:hover {
  background-color: #371782;
}

/* This is our style for the invalid fields */
input.invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus.invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

.footer {
  padding: 30px 0;
  background-color: #000000;
  color: #fff;
}
